<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cat.andreurm.blacklist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyCD1ILfRz14-0_qbuOgf7wdDXmEqWLpsSk"/>

        <activity
            android:name="cat.andreurm.blacklist.activities.PromoterCodeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"    >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".activities.TabHostActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->


        <!--
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity
                android:name=".activities.RegisterOkActivity"
                android:label="@string/title_activity_register_ok"
                android:windowSoftInputMode="stateHidden|adjustPan" >
            android:name=".activities.RegisterOkActivity"
            android:label="@string/title_activity_register_ok" >
        </activity>
        -->

        <activity
            android:name="cat.andreurm.blacklist.activities.EventsActivity"
            android:label="@string/title_activity_events"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.InviteActivity"
            android:label="@string/title_activity_invite"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.CodeActivity"
            android:label="@string/title_activity_code"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.EventInfoActivity"
            android:label="@string/title_activity_event_info"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.RegisterActivity"
            android:label="@string/title_activity_register_ok"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_register_ok"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.WriteMessageActivity"
            android:label="@string/title_activity_write_message"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.TabGroupActivity"
            android:label="@string/tab_group_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.ListMessagesActivity"
            android:label="@string/tab_group_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.ListMessagesTabGroupActivity"
            android:label="@string/tab_group_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.MessageInfoActivity"
            android:label="@string/title_activity_message_info"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.EventsTabGroupActivity"
            android:label="@string/title_activity_events_tab_group"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.EventsSitioActivity"
            android:label="@string/title_activity_events_sitio"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.EventsPrecioActivity"
            android:label="@string/title_activity_events_precio"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.ReservationActivity"
            android:label="@string/title_activity_reservation"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.PicturesGalleryActivity"
            android:label="@string/title_activity_pictures_gallery"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cat.andreurm.blacklist.activities.TabHostActivity"
            android:label="tabHost"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.DownloadImagesTask"
            android:label="@string/title_activity_download_images_task"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

    <permission
            android:name="cat.andreurm.blacklist.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="cat.andreurm.blacklist.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>


    <uses-feature android:glEsVersion="0x00020000"
                  android:required="true"/>

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
    </compatible-screens>

</manifest>